<!-- <p>create works!</p> -->

<form [formGroup]="newCarForm" (ngSubmit)="submitNewCar()">
  <label>Model:</label>
  <input formControlName="model" type="text">
  <br>
  <label>Brand:</label>
  <input formControlName="brand" type="text">
  <br>
  <div>
    <label>Engine Type:</label>
    <select formControlName="engineType">
      <option *ngFor="let engineType of engineTypes" [value]="engineType.value">
        {{ engineType.label }}
      </option>
    </select>
  </div>
  <br>
  <button type="submit" (click)="submitNewCar()">Add New Car</button>
</form>
